Ahc.Health.RestService/Ahc.Health.RestService/TestClient/Service References/PollingService/ServicePolling2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49436/ServicePolling.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PollingService" />
  <xs:element name="InsertRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PollingService" minOccurs="0" name="value" nillable="true" type="q1:Rules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PollingService" minOccurs="0" name="GetAllRulesResult" nillable="true" type="q2:ArrayOfRules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PollingService" minOccurs="0" name="user" nillable="true" type="q3:PersonDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PollingService" minOccurs="0" name="GetUserResult" nillable="true" type="q4:PersonDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>